/* CSS EXERCISES

 11) Give a maximum width to the body and center it in the page
 12) Set every h1 to be centered
 13) Change the color of each link in the page
 14) Create a class with a border
 15) Set table to have rounded borders
 16) Add margin between every paragraph
 17) Create a class which change font size and boldness
 18) Create a class to hide a content
 19) Add a green border to each td
 20) Add a dotted red border to each tr */

body {
    max-width: 80%;
    margin: auto;

}

h1 {
    text-align: center
}

a {
    color: red;
}

table {
    border: 1px solid black;
}

.border {
    border-radius: 5px;
}

p {
    margin: 10px;
}

.font {
    font-size: 10px;
    font-weight: 200;
}

.hide {
    display: none;
}

td {
    border: 1px solid green;
}

tr {
    border: 1px dotted red;
}